*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    margin: 28px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(./files/background.jpg);
    background-size: cover;
    background-position: center;
}

#title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    font-size: 22px;
    color: #635985;
}

#gameboard{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-content: center;
    margin: 20px 600px;
    

}

.square{
    width:60px;
    height:60px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 2px;
    padding:20px 5px 20px 5px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    background-color: white;
    box-shadow: 3px 4px orange;
}
#new{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    margin: 10px 700px;
}

#newgame,#rules{
    width:90px;
    height:10px;
    border: 2px solid gray;;
    border-radius: 5px;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: grab;
    padding:15px 5px 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px orange;
}

#keyboard{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    align-items: center;
    justify-content: center;
    margin: 10px 500px;
}

.key{
    width:50px;
    height:10px;
    border: 2px solid gray;;
    border-radius: 5px;
    margin: 2px;
    font-size: 15px;
    font-weight: bold;
    cursor: grab;
    padding:15px 5px 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    box-shadow: 2px 3px orange;
}

.key:hover{
    box-shadow: 2px 3px #40513B;
}
#newgame:hover{
    box-shadow: 2px 3px #40513B;
}
#rules:hover{
    box-shadow: 2px 3px #40513B;
}


.green{
    
    background-color: #6aaa64;
    /* transition-delay: 1s; */
}

.gray{
    background-color: #787c7e;
    /* transition-delay: 1s; */
}

.yellow{
    background-color: #c9b458;
    /* transition-delay: 1s; */
}

.fireworks{
    transition-delay: 3s;
   background-size: cover;
    background-image: url(./files/winstate.gif);
    
}