*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    margin: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(https://i.pinimg.com/originals/69/b9/0e/69b90ed4e4087e02faaaccf33a843dfb.jpg);
    background-color: #060047;
    
    background-size: cover;
    background-position: center;
}

#title{
    text-decoration: underline;
    font-size: 20px;
    color: #635985;
}

#gameboard{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-content: center;
    margin: 50px 600px;
    

}

.square{
    width:60px;
    height:60px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 2px;
    padding:20px 5px 20px 5px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    background-color: white;
    box-shadow: 3px 4px orange;
}



#keyboard{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    align-items: center;
    justify-content: center;
    margin: 50px 500px;
}

.key{
    width:50px;
    height:10px;
    border: 2px solid gray;;
    border-radius: 5px;
    margin: 2px;
    font-size: 15px;
    font-weight: bold;
    cursor: grab;
    padding:15px 5px 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    box-shadow: 2px 3px orange;
    
    

}
.key:hover{
    box-shadow: 2px 3px #40513B;
}

.green{
    
    background-color: #6aaa64;
}

.gray{
    
    background-color: #787c7e;
}

.yellow{
    
    background-color: #c9b458;
}

.fireworks{
    transition-delay: 2s;
    background-image: url(https://media0.giphy.com/media/26tOZ42Mg6pbTUPHW/giphy.gif);
    
}