*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title{
    text-decoration: underline;
}

#gameboard{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-content: center;
    margin: 50px 600px;

}

.square{
    width:60px;
    height:60px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 2px;
    padding:20px 5px 20px 5px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}



#keyboard{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    align-items: center;
    justify-content: center;
    margin: 50px 500px;
}

.key{
    width:40px;
    height:20px;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 2px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding:25px 12px 25px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;

}